<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjb.business.app.dao.UserMapper">
	<resultMap id="BaseResultMap" type="com.yjb.business.app.entity.UserEntity">
		<id column="id" jdbcType="BIGINT" property="id" />
		<id column="cnt" jdbcType="BIGINT" property="cnt" />
		<result column="email" jdbcType="VARCHAR" property="email" />
		<result column="password" jdbcType="VARCHAR" property="password" />
		<result column="username" jdbcType="VARCHAR" property="username" />
		<result column="name" jdbcType="VARCHAR" property="name" />
	</resultMap>
	<select id="selectUser"
		resultType="com.yjb.business.app.entity.UserEntity">
		SELECT id ,email,password,username from users
		<where>
			<if test="id != null and id != ''">
				id = ${id}
			</if>
		</where>
	</select>
	<select id="selectUserLimit"
		resultType="com.yjb.business.app.entity.UserEntity">
		SELECT id ,email,password,username from users limit ${limit}
	</select>
	<select id="selectUserById" 
		resultType="com.yjb.business.app.entity.UserEntity">
		<![CDATA[ 
		SELECT u.id as id,u.email as email,u.password as password,u.username as username ,r.name as name from users u
		inner join user_roles ur on u.id=ur.user_id
		inner join roles r on r.id=ur.role_id
		where username = #{userDto.username} and password = #{userDto.password}
		 ]]>
	</select>
	
	<select id="selectUserByPwd" 
		resultType="com.yjb.business.app.entity.UserEntity">
		<![CDATA[ 
		SELECT u.id as id,u.email as email,u.password as password,u.username as username  from users u
		where username = #{userDto.username} and password = #{userDto.password}
		 ]]>
	</select>
	<insert id="insertUser" >
		insert into users(email,password,username,role,name) values('',#{userDto.password},#{userDto.username},'','')
	</insert>
	
	<select id="selectUserCnt"
		resultType="java.lang.Integer">
		SELECT count(*) AS cnt from users where username like #{userName}
	</select>
	

	
	
</mapper>